$month-width: 40px;
$day-width: 40px;
$date-overall-width: 320px;
$date-inner-width: 125px;

$slot-height: 25px;
$date-overall-height: $slot-height * 3;

body {
    margin: 0;
    background: #343434;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #343434;
    // font-weight: 200;
}

* {
    vertical-align: top;
}

.wrapper {
    width: 320px;
    height: 480px;
    background: #fafafa;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.date-container {
    overflow: hidden;
    position: relative;
    width: $date-inner-width;
    height: $date-overall-height;
    margin: 10px 20px;
    display: inline-block;

    .slider {
        position: absolute;
        top: -$slot-height;
        text-align: center;
    }

    .m-slider { width: $month-width; left: 0; }
    .d-slider { width: $day-width; left: 40px; }

    .up, .down {
        height: $slot-height;
        position: absolute;
        z-index: 10;
    }

    .month-down { left: 0; top: 0; }
    .month-up { left: 0; bottom: 0; }
    .month-down, .month-up { width: $month-width; }

    .days-down { left: 40px; top: 0; }
    .days-up { left: 40px; bottom: 0; }
    .days-down, .days-up { width: $day-width; }

    .months, .days, .year {
        display: inline-block;
    }

    .year {
        position: absolute;
        right: 20px;
    }

}

.fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(250,250,250, 1) 0%, rgba(250,250,250, 0) 40%, rgba(250,250,250, 0) 60%, rgba(250,250,250,1) 100%);
}

.time-selector {
    height: $date-overall-height;
    width: 100px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    overflow: hidden;

    .hours, .minutes, .colon, .am-pm {
        width: $day-width;
        position: absolute;
        top: 0;
        text-align: center;

        -webkit-transition: top .125s ease;
    }

    .hours {
        left: 0;
        overflow: hidden;
    }
    .colon { left: 20px; }
    .minutes { left: $day-width; }
    .am-pm { left: 60px; }

    .up, .down {
        height: $slot-height;
        position: absolute;
        z-index: 10;
    }

    .hours-down { left: 0; top: 0; }
    .hours-up { left: 0; bottom: 0; }
    .hours-down, .hours-up { width: $month-width; }

    .minutes-down { left: 40px; top: 0; }
    .minutes-up { left: 40px; bottom: 0; }
    .minutes-down, .minutes-up { width: $day-width; }

}

.options-container {
    position: relative;
}

.bar {
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    z-index: 10;
    background: #fafafa;
}

.slot {
    height: $slot-height;
    line-height: $slot-height;
}

.logo, .room {
    color: #fafafa;
    background: rgb(109, 27, 27);
}

.selected {
    width: 90%;
    height: 22px;
    margin: 0 5%;
    border: 1px solid rgb(109, 27, 27);
    border-radius: 3px;
    position: absolute;
    top: 36px;
}


